/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.content-wrapper {
    background: #800000; /* Dark red background between header and content */
    padding-bottom: 20px; /* Space under the header */
    color: white;
}

.content {
    background: #fff; /* White background for content */
    padding: 20px;
    margin: auto;
    color: black;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding-top: 20px; /* Adjust space between content and form */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px); /* Adjusted width to fit within the container */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.calendar {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

.month-btn {
    background-color: #0000ff; /* Corrected color value */
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 33%; /* You can adjust this as needed */
    text-align: center;
    margin: 5px 0; /* Adjust vertical margin as needed */
}

.month-btn:hover {
    background-color: #000099; /* Darker shade on hover */
}

.month-calendar {
    display: none;
    padding: 10px;
}

.month-calendar.active {
    display: block;
}

.day-btn {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
